/AddEReferenceRapidButtonBehavior.java
/AddESuperTypeRapidButtonBehavior.java
/EClassDescriptor.java
/EClassNode.java
/EReferenceDescriptor.java
/ESuperTypeDescriptor.java
/ESuperTypeHandle.java
/EcoreDomainObjectProvider.java
