/AddReferenceRapidButtonBehavior.java
/AddSuperTypeRapidButtonBehavior.java
/JavaModelProvider.java
/JavaProperty.java
/JavaPropertyDescriptor.java
/JavaSuperTypeDescriptor.java
/JavaSuperTypeHandle.java
/JavaTypeDescriptor.java
/JavaTypeModel.java
/JavaTypeNode.java
